# Common ESP32 settings
CONFIG_ESP_MAIN_TASK_STACK_SIZE=8192
CONFIG_PARTITION_TABLE_CUSTOM=y

# LED configuration
CONFIG_RGB_LED_RED_GPIO=21
CONFIG_RGB_LED_GREEN_GPIO=22
CONFIG_RGB_LED_BLUE_GPIO=23
CONFIG_RGB_LED_TIMER=0
CONFIG_RGB_LED_MODE=0
CONFIG_RGB_LED_DUTY_RES=10
CONFIG_RGB_LED_FREQUENCY=5000

# Multiplexer default GPIO pins
CONFIG_MUX_S0_GPIO=4
CONFIG_MUX_S1_GPIO=5
CONFIG_MUX_S2_GPIO=6
CONFIG_MUX_S3_GPIO=7

# ADE7880 configuration
CONFIG_ENERGY_ADE7880_RESET_PIN=18
CONFIG_ENERGY_ADE7880_CS_PIN=15
CONFIG_ENERGY_ADE7880_MOSI_PIN=13
CONFIG_ENERGY_ADE7880_MISO_PIN=12
CONFIG_ENERGY_ADE7880_SCLK_PIN=14
CONFIG_ENERGY_ADE7880_SPI_HOST=2
CONFIG_ENERGY_ADE7880_SPI_CLOCK_SPEED_HZ=2500000

# Ethernet configuration
CONFIG_USE_SPI_ETHERNET=y
CONFIG_ETH_SPI_HOST=2
CONFIG_ETH_SPI_MOSI_GPIO=13
CONFIG_ETH_SPI_MISO_GPIO=12
CONFIG_ETH_SPI_SCLK_GPIO=14
CONFIG_ETH_SPI_CLOCK_MHZ=20

# Network settings
CONFIG_WIFI_SSID="EnergyMe"
CONFIG_WIFI_PASSWORD="energy123"
